<div class="div-home">
    <div class="div-flex-center-header">
        <div class="div-heade" >
            <div class="div-heade-2">
                <h1 class="h1-head-1">Olá, Sou o Diego Nobre</h1>
                <h1>FullStack Developer</h1>
            </div>         
        </div>
        <div class="div-heade-1">
            <div class="div-profile-1">
                <img src="../../assets/diegonobre.png" class="image-profile-1">
            </div>
            <div class="div-profile-2">
                <div class="div-rad-1">
                </div>
            </div>
            <div class="div-profile-3">
                
            </div>
        </div>
    </div>
    <div class="div-flex-center">
        <div>
            <div style="color: white;">            
                <h1 class="font-size-h1">Projetos</h1>
            </div>
            <div class="div-app-card">
                <div *ngFor="let data of dataCard " >
                    <app-card [data]="data"></app-card>
                </div>
            </div>
        </div>
    </div>
    <div class="div-flex-center">
        <div class="div-info">
            <div class="linhaTempo">
                <div class="div-linhaTempo-1"></div>
                <!-- <div class="div-linhaTempo-2"></div> -->
                <div class="div-linhaTempo-3"></div>
                <div class="div-linhaTempo-4"></div>
                <div class="div-linhaTempo-5"></div>
            </div>
            <div class="div-info-2">
                <div class="div-data-1">
                    <h5>
                        2022
                    </h5>
                    <h5>
                        Freelancer
                    </h5>
                    <span >
                        Atuando em freelas pequenos em plataformas como o Vinte Pila, workana e 99 freelas. 
                    </span>
                </div>
                <div class="div-data-2">
                    <h5>
                        2022
                    </h5>
                    <h5 >
                        Desenvolvedor Full Stack - Júnior
                    </h5>
                    <span >
                        Utilizando C# .Net no Back-End com EntityFramework e Dapper:
                        - Sou responsável pelo desenvolvimento de API’s Restfull com documentação
                         Swagger e utilização completa desses endpoints para serem consumidos pelo Front,
                          além de aplicar POO e Design Patterns, criando validações e persistindo os dados em SQL Server.
                    </span>
                </div>
                <div class="div-data-2">
                    <h5>
                        2023
                    </h5>
                    <h5 >
                        Desenvolvedor Full Stack - Júnior
                    </h5>
                    <span >
                    Utilizando Angular 2+ no Front-End com Angular Material e React com MUI e Axios:
                    - Trabalho no desenvolvimento de novas telas em projetos da empresa, bem como na integração dessas telas com serviços REST, corrigindo bugs
                    e implementando ajustes com layouts responsivos utilizando Media Querys, além de aplicar conceitos de Clean Code e S.O.L.I.D para garantir a manutenibilidade do código. 
                    </span>
                </div>
            </div>
        </div> 
    </div>
</div>