<div class="div-home">
    <div class="div-flex-center-header">
        <div class="div-heade" >
            <div class="div-heade-2">
                <h1 class="h1-head-1">Olá, Sou o Luis Souza</h1>
                <h1>Enegenheiro de Software</h1>
            </div>         
        </div>
        <div class="div-heade-1">
            <div class="div-profile-1">
                <img src="../../assets/fotoperfil.jpeg" class="image-profile-1">
            </div>
            <div class="div-profile-2">
                <div class="div-rad-1">
                </div>
            </div>
            <div class="div-profile-3">
                
            </div>
        </div>
    </div>
    <div class="div-flex-center">
        <div>
            <div style="color: white;">            
                <h1 class="font-size-h1">Projetos</h1>
            </div>
            <div class="div-app-card">
                <div *ngFor="let data of dataCard " >
                    <app-card [data]="data"></app-card>
                </div>
            </div>
        </div>
    </div>
    <div class="div-flex-center">
        <div class="div-info">
            <div class="linhaTempo">
                <div class="div-linhaTempo-1"></div>
                <div class="div-linhaTempo-2"></div>
                <div class="div-linhaTempo-3"></div>
                <div class="div-linhaTempo-4"></div>
                <div class="div-linhaTempo-5"></div>
            </div>
            <div class="div-info-2">
                <div class="div-data-1">
                    <h5>
                        2009
                    </h5>
                    <h5>
                        Instituto Baiano de Ensino Superior
                    </h5>
                    <span >
                        Bacharel, Ciências da Computação
                    </span>
                </div>
                <div class="div-data-2">
                    <h5>
                        2011
                    </h5>
                    <h5 >
                        Desenvolvedor Full Stack - Júnior
                    </h5>
                    <span >
                        Efetuando atividades na etapa de codificação de sistemas para homologação no cliente, utilizando documentação UML,
                        desenvolvimento em camadas, ferramentas visual Studio 2008 e 2010, SQL SERVER 2005 e 2008, tecnologias como Asp.NET, 
                        HTML, CSS, Ajax, Java Query, Componentes ASP.NET Personalizados, C#, Framework .NET 3.5, 4.0.
                    </span>
                </div>
                <div class="div-data-2">
                    <h5>
                        2012
                    </h5>
                    <h5 >
                        Desenvolvedor Full Stack - Pleno
                    </h5>
                    <span >
                        Exercendo atividades de desenvolvimento e analise de projeto na construção de novos módulos e versões,
                        assim como acompanhando a implantação no ambiente de produção. Utilizando as linguagens ASP Clássico, HTML,
                        CSS, Java Script, VB6, com banco de dados ORACLE nas ferramentas DREAMWEAVER, VISUAL BASIC 6.0 e Toad for Oracle 10.
                    </span>
                </div>
                <div class="div-data-2">
                    <h5>
                        2013
                    </h5>
                    <h5 >
                        Desenvolvedor Full Stack - Sênior
                    </h5>
                    <span >
                        Reestruturação do sistema legado desktop trabalhando no modelo On Premise, para versão web em hospedagem Cloud. Utilizando metodologia ágil,
                        Framework Scrum e método Kanban para executar os processos de planejamento, desenvolvimento e entregas. Trabalhando com tecnologias como Angular,
                        Bootstrap, IONIC, C#, .NET e .NET Core, Oracle, SQL Server, SQLite, Fire Base, RabbitMQ, web-services para micros serviços com API's em REST FULL.
                        Usando controle de versão GIT e T.F.S
                    </span>
                </div>
                <div class="div-data-2">
                    <h5>
                        2019
                    </h5>
                    <h5 >
                        Desenvolvedor Full Stack - Sênior
                    </h5 >
                    <span >
                        Atualmento realizo atividades de criação e sustentação de software. Gestão de demandas utilizando metodologia ágil com framework scrum e ou método kanban. AzureDevoops, GitLab Board,
                        Jira Software para gestão de processos, . Codificando em tecnologias como Angular, React, Asp.Net, MVC, HTML, Java Script, CSS, C#, .Net, .Net Core, NodeJS, Python,
                        SQL Server, ORACLE, MySQL, MongoDB, ComosDB, Azure Table Storage, Redis, RabbitMQ, AWS SQS, usando GIT e TFS para controle de fontes.
                    </span>
                </div>
            </div>
        </div> 
    </div>
</div>